
@use '@angular/material' as mat;


:root {
  @include mat.progress-bar-overrides((
    active-indicator-color: goldenrod,
    track-color: #3a3938,
  ));
}

.snack-error {
  @include mat.snack-bar-overrides((
    button-color: #beb3b3,
    container-color:#9f0000,
    supporting-text-color: #ffffff,

  ));
}
.success {
  @include mat.snack-bar-overrides((
    button-color: #c0ccba,
    container-color:#23800e,
    supporting-text-color: #ffffff,
  ));
}

:root {
  @include mat.paginator-overrides((
    container-background-color: none,
    container-size: 1
  ));
}

:root {
  @include mat.button-overrides((
    filled-container-shape: 8px,

    outlined-container-shape: 8px,
    tonal-container-shape: 8px,


  ));
}

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
