<div>
  <h3 class="text-3xl text-center pt-6 mb-3">Filters</h3>
  <mat-divider></mat-divider>

  <div class="flex flex-col sm:flex-row gap-6 p-4">
    <div class="w-full sm:w-1/2">
      <h4 class="font-semibold text-xl text-primary">Colors</h4>

      <div class=" overflow-auto">
        <mat-selection-list [(ngModel)]="selectedColors" [multiple]="true">
          @for (color of shopService.colors(); track $index) {
            <mat-list-option [value]="color">{{ color }}</mat-list-option>
          }
        </mat-selection-list>
      </div>
    </div>

    <div class="w-full sm:w-1/2">
      <h4 class="font-semibold text-xl text-primary">Models</h4>

      <div class="max-h-[55vh] overflow-auto">
        <mat-selection-list [(ngModel)]="selectedModels" [multiple]="true">
          @for (model of shopService.models(); track $index) {
            <mat-list-option [value]="model">{{ model }}</mat-list-option>
          }
        </mat-selection-list>
      </div>
    </div>
  </div>

  <div class="flex justify-end p-4">
    <button mat-flat-button (click)="applyFilters()">Apply filters</button>
  </div>
</div>
